atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.10.15
Click==7.0
coverage==4.5.1
cycler==0.10.0
docopt==0.6.2
Flask==1.0.2
itsdangerous==1.1.0
Jinja2==2.10
kiwisolver==1.0.1
MarkupSafe==1.1.0
matplotlib==3.0.1
mkl-fft==1.0.6
mkl-random==1.0.1
more-itertools==4.3.0
numpy==1.22.0
pandas==0.23.4
pluggy==0.7.1
py==1.6.0
pyparsing==2.3.0
pytest==3.8.1
pytest-cov==2.6.0
python-dateutil==2.7.5
pytz==2018.7
-e git+https://github.com/davislf2/cli_practice.git@eb550b2c4086bfb081c25d075112873b5924cffc#egg=qmatch
scikit-learn==0.20.0
scipy==1.1.0
six==1.11.0
sklearn==0.0
tornado==5.1.1
Werkzeug==0.14.1
